body {
    font: 14px/24px "Open Sans", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
    background-color: white;
  }
code {
  background: #000;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 15px 15px;
  text-align: left;
}
header,
footer {
  margin: 0 1.5% 24px 1.5%;
}
footer {
  margin-bottom: 0;
}
.header-link
{
   color:black;
   text-decoration: none; 
   background-color: none;
}
img[src*='#center'] { 
  display: block;
  margin: auto;
}