<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/stylesheets/main.css">
  <title>Luke Hinds</title>
</head>
<body>
  <!-- <p><h1>Lukes Hinds</h1></p> -->
  <a href="/">
    <div class="header-link">
         <h1>Luke Hinds</h1>
    </div>
  </a>
  <p>Thoughts on running and systems security / code</p>
  <hr>
  <!-- <h3>Thoughts on running and systems security / code</h3> -->
  <div class=".container-sm">
    <ul>
      {{range .}}
      <a href="/{{.File}}"><h4>{{.Title}}</h4></a>
      <p>{{.Date}}</p>
      <p>{{.Summary}}</p>
    {{end}}
    </ul>
  </div>
</body>
</html>