<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
  <title>Luke Hinds</title>
</head>
<body>
  <p><h1>Lukes Blog</h1></p>
  <div class="container">
    <ul>
      {{range .}}
      <a href="/{{.File}}"><h2>{{.Title}} ({{.Date}})</h2></a>
      <p><h4>{{.Summary}}</h4></p>
    {{end}}
    </ul>
  </div>
</body>
</html>