<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/stylesheets/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Luke Hinds: {{.Title}}</title>
</head>
<body>
  <a href="/">
    <div class="header-link">
         <h1>Luke Hinds</h1>
    </div>
  </a>
  <div class=".container-sm">
    <ul>
      <p><h3>{{.Title}}</h3></p>
      <p>{{.Date}}</p>
      <p>{{.Body}}</p>
    </ul>
  </div>
</body>
</html>
