<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
  <title>Blog: Index</title>
</head>
<body>
  <div class="container">
    <ul>
      <p><h1>{{.Title}}</h1></p>
      <p><h4>{{.Date}}</h4></p>
      <p>{{.Body}}</p>
    </ul>
  </div>
</body>
</html>

<!--  <a href="/{{.File}}"><h2>{{.Title}} ({{.Date}})</h2></a>  -->